<style type="text/css">
  #team-preview .panel-default { box-shadow: none; }
  #team-preview .panel-default h4 { margin: 5px; }
  #roster-preview tbody tr:first-child td { border-top: 0; }
</style>
<div id="team-preview" class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3 class="modal-title text-center" id="myModalLabel"><%= @team.name %>
      <% if (can? :manage, :all) && @team.start_date.nil? %>
        <i class="fa fa-group" style="margin-right:5px;color:#3498db;" data-toggle="tooltip" title="Precompo"></i>
      <% end %>
      </h3>
    </div>
    <div class="modal-body">
      <div class="field text-center">
        <div class="panel panel-default">
          <div class="panel-heading" >
            <h4><%=t 'teams.hours' %></h4>
          </div>
          <div class="panel-body" style="padding:10px 10px;">
            <table class="table" style="margin-bottom:0px;">
              <thead>
                <tr>
                  <th style="text-align:center;"><%=t 'layout.week' %></th>
                  <th style="text-align:center;"><%=t 'layout.weekend' %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <%= render 'teams/dispos' %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="field text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%=t 'layout.players' %></h4>
          </div>
          <div class="panel-body">
            <table id="roster-preview" class="table">
              <tbody>
                <% nb = @team.game.nb_players %>
                <% for i in 0..(nb -1) %>
                  <% if @team.players[i] == 2 %>
                    <% @teaming = @team.teamings.where(role: @team.roles[i], num_role:i, active: true).first
                    @player = @teaming.user
                    @account = @player.account
                    %>
                    <%= render 'preview_roster_user' %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
      <% if can? :manage, :all %>
        <%= link_to "Equipe", @team, class:"btn btn-primary" %>
      <% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
    </div>
  </div>
</div>
