<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @search, :created_at, "Date" %></th>
      <th>Joueur</th>
      <th>Role</th>
      <th style="text-align:right"><%= sort_link @search, :account_mmr, "Solo" %></th>
      <th><%= sort_link @search, :account_flex_mmr, "Flex" %></th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <% @teamings.order(:created_at).reverse_order.each do |teaming| %>
      <% @account = teaming.user.game_accounts.where(active:true).first unless teaming.user.nil? %>
        <tr>
          <% unless teaming.user.nil? %>
            <td><%= teaming.created_at.strftime("%d/%m/%y - %H:%M") %></td>
            <td><%= link_to @account.name, teaming.user %></td>
            <td><span class="label label-default"><%= teaming.role[0...3] unless teaming.role.nil? %></span></td>
            <td class="table-rank"><%= render 'users/rank' %></td>
            <td class="table-rank"><%= render 'users/rank_flex' %></td>
            <td><%= link_to teaming.team.name, teaming.team %></td>
          <% else %>
            <td><%= teaming.created_at.strftime("%d/%m/%y - %H:%M") %></td>
            <td colspan="5"><b><%= link_to teaming.team.name, teaming.team %></b></td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
