<%= simple_form_for(@composition, remote: true) do |f| %>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3 class="modal-title text-center" id="myModalLabel"><%=t 'compositions.new' %></h3>
    </div>
    <div class="modal-body text-center">
      <h4><%=t 'layout.title' %></h4>
      <input type="text" class="form-control" style="text-align:center;width:90%;margin:0 auto;" name="composition[title]" id="composition_title" maxlength="45" autofocus>
      <%= hidden_field_tag "team", params[:team] %>
    </div>
    <div class="modal-footer" style="text-align:center;">
      <%= submit_tag "#{t 'btn.create'}", class: "btn btn-primary"%>
      <button type="button" class="btn btn-default" data-dismiss="modal"><%=t 'btn.close' %></button>
    </div>
  </div>
</div>
<% end %>
