<h3><i class="fa fa-star"></i> <%=t 'home.notables' %> <i class="fa fa-star"></i></h3>
<p style="margin:25px;"><%=t 'home.notables_subtitle' %></p>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="margin:0 auto;">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><b>Kirikou</b></td>
          <td><%=t 'home.kirikou' %></td>
        </tr>
        <tr>
          <td><b>Yrims</b></td>
          <td><%=t 'home.yrims' %></td>
        </tr>
        <tr>
          <td><b>Althime</b></td>
          <td><%=t 'home.althime' %></td>
        </tr>
        <tr>
          <td><b>Knun Kn</b></td>
          <td><%=t 'home.knunkn' %></td>
        </tr>
        <tr>
          <td><b>Kéith</b></td>
          <td><%=t 'home.keith' %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3"></div>
</div>
