<h3><i class="ra ra-queen-crown"></i> <%=t 'home.conquerors' %> <i class="ra ra-queen-crown"></i></h3>
<p style="margin:25px;">Prepare for Glory !</p>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="margin:0 auto;">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><b>Pohu</b></td>
          <td><%=t 'home.1st' %> <a href="#"><%=t 'home.conqueror' %></a></td>
        </tr>
        <tr>
          <td><b>Althime</b></td>
          <td><%=t 'home.2nd' %> <a href="#"><%=t 'home.conqueror' %></a></td>
        </tr>
        <tr>
          <td><b>BluePhoeniix</b></td>
          <td><%=t 'home.3rd' %> <a href="#"><%=t 'home.conqueror' %></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3"></div>
</div>
<hr>
<h3><i class="ra ra-tower"></i> <%=t 'home.pioniers' %> <i class="ra ra-tower"></i></h3>
<p style="margin:25px;">Prepare for Battle !</p>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="margin:0 auto;">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><b>GMB Gunner</b></td>
          <td>1er <a href="#"><%=t 'home.pionier' %></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3"></div>
</div>
