<style type="text/css">

</style>

<div id="history-block">
  <% @team.histories.order('date DESC').each do |h| %>
    <% @player = h.teaming.account.name unless h.teaming.nil? %>
    <div class="row" style="height:80px;width:99%;">
      <div class="col-xs-2" style="height:100%;border-right:4px solid grey;">

        <span class="label label-rank history-date"><%= h.date.strftime("%d/%m/%y")%></span>
        <span class="label history-icon">
          <% if h.action == "creation" %>
            <i class="fa fa-group"></i>
          <% elsif h.action == "dissolution" %>
            <i class="ra ra-skull"></i>
          <% elsif h.action == "member-join" %>
            <i class="fa fa-user-plus"></i>
          <% elsif h.action == "member-leave" or h.action == "exclusion" %>
            <i class="fa fa-user-times"></i>
          <% elsif h.action == "captain" %>
            <i class="ra ra-queen-crown"></i>
          <% elsif h.action == "tournament" %>
            <i class="fa fa-trophy"></i>
          <% elsif h.action == "scrim" %>
            <i class="ra ra-crossed-swords"></i>
          <% else %>
            <i class="fa fa-group"></i>
          <% end %>
        </span>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-7">
        <% if h.action == "creation" %>
          <p><%=t 'histories.creation' %></p>
        <% elsif h.action == "dissolution" %>
          <% if @team.histories.where(action:"creation").present? %>
          <p><%=t 'histories.dissolution_days', nb: (h.date.to_date - @team.histories.where(action:"creation").first.date.to_date).to_i %></p>
          <% else %>
          <p><%=t 'histories.dissolution' %></p>
          <% end %>
        <% elsif h.action == "member-join" %>
          <p><%=raw t 'histories.member-join', name: @player %></p>
        <% elsif h.action == "member-leave" %>
          <p><%=raw t 'histories.member-leave', name: @player %><br><u><%=t 'notifications.reason' %></u>
            <% unless h.teaming.reason.nil? %>
              <% Teaming::LEAVE.each do |k,v| %>
                <%= eval(k) if h.teaming.reason == v %>
              <% end %>
            <% end %>
          </p>
        <% elsif h.action == "exclusion" %>
          <p><%=raw t 'histories.exclusion', name: @player %>
        <% elsif h.action == "captain" %>
          <p><%=raw t 'histories.captain', name: @player %></p>
        <% else %>
          <p>
            <% if can? :update, h %><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_history_path(h), remote: true %>&nbsp;<% end %>
            <% unless h.user.nil? %> <b><%= h.user.account.name %></b>&nbsp; - &nbsp;<% end %>
            <%= h.content %>
          </p>
        <% end %>
      </div>
      <div class="col-xs-1 text-center">
        <% if can? :update, h %><%= link_to '<i class="fa fa-remove"></i>'.html_safe, history_path(h), method: :delete, data: {confirm:"Supprimer ?"}, remote: true %>&nbsp;<% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="text-right">
  <% unless !@team.end_date.nil? %>
    <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_history_path(team: @team.id), class:"btn btn-primary btn-circle", id:"new-history-btn", remote: true %>
  <% end %>
</div>
