<h5 class="text-center"><%=t 'layout.pending' %></h5>
<% current_user.pending_friends.each do |pending|%>
  <li>
    <div class="row" style="margin-left:0px;">
      <div class="col-xs-3" style="text-align:right;">
        <%= render(partial: 'friendships/avatar', locals: {reload: true, user: pending}) %>
      </div>
      <div class="col-xs-9" style="padding-top:10px;">
        <b style="font-size:14px;">
          <% if pending.account.present? %>
            <%= pending.account.name %>
          <% else %>
            <%= pending.user_name %>
          <% end %>
          </b>&nbsp;&nbsp;
        <i class="explain"><%= pending.user_name %></i>
      </div>
    </div>
  </li>
<% end %>
