<div class="panel panel-<%= 'default' if poll.result == 1 %><%= 'warning' if poll.result == 0 %><%= 'success' if poll.result == 2 %>" style="box-shadow:1px 1px 5px 3px rgba(0, 0, 0, 0.1);margin-bottom:20px;">
  <div class="panel-heading text-center">
    <h4><%= poll.title %></h4>
  </div>
  <div class="panel-body">
    <div class="box-text" style="min-height:100px;margin-bottom:30px;">
      <%= truncate(strip_tags(poll.body), length: 400) { link_to " #{t 'layout.read_more'}", poll } unless poll.body.nil? %>
    </div>
    <div class="row text-center">
      <div class="col-sm-3">
        <h3 style="display:inline-block;margin:0px;"><%= poll.pollings.count %></h3>
        <h4>
          <%= poll.pollings.count > 1 ? "Votes" : "Vote" %>
        </h4>
      </div>
      <div class="col-sm-6">
        <% unless poll.pollings.empty? %>
          <%
            votes = poll.pollings.pluck(:vote)
            freq = votes.inject(Hash.new(0)) { |h,v| h[v] += 1; h }
            best = votes.max_by { |v| freq[v] }
          %>
          <p style="margin-bottom:8px;"><b><%= poll.result == 2 ? t('polls.result') : t('polls.best') %></b>&nbsp;&nbsp; #<%= best + 1 %> - <%= poll.choices[best] %></p>
          <% @percent = 100 * poll.pollings.where(vote: best).count / poll.pollings.count %>
          <div class="progress" style="width:80%;margin:0 auto;">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @percent %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @percent %>%;">
              <%= @percent %>%
            </div>
          </div>
        <% else %>
          <p style="padding-top:10px;"><%=t 'polls.no_vote' %></p>
        <% end %>
      </div>
      <div class="col-sm-3" style="padding-top:10px;">
        <% if poll.result < 2 && poll.pollings.where(user:current_user).empty?
          @label = t('polls.vote')
        else
          @label = t('polls.see')
        end %>
        <%= link_to "#{@label}", poll, class:"btn btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>
