<table class="table">
  <thead>
    <tr>
      <th class="text-center">Nom</th>
      <th class="text-center">Description</th>
      <th class="text-center">Récompense</th>
      <th class="text-center">Joueurs</th>
      <% if can? :manage, :all %>
      <th class="text-center">Ajouter</th>
      <% end %>
      <th class="text-center">Badge</th>
    </tr>
  </thead>
  <tbody>
    <% @achievements.order(:category).order(:reward).each do |achievement| %>
    <tr>
      <td class="text-center"><b><%= achievement.name %></b></td>
      <td><%= achievement.description %></td>
      <td class="text-center"><% unless achievement.reward.nil? %>
        <%= achievement.reward %> <i class="ra ra-gem" style="color:#3498db;"></i>
      <% end %></td>
      <td class="text-center"><%= achievement.users.count %></td>
      <% if can? :manage, :all %>
      <td><%= render(:partial =>'achievements/add_user', locals: {reload: true, achievement: achievement}) %></td>
      <% end %>
      <td class="text-center">
        <% unless achievement.badge.nil? %>
          <%= render(:partial =>'badges/badge', locals: {reload: true, badge: achievement.badge}) %>
        <% end %>
      </td>
      <% if can? :manage, :all %>
      <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_achievement_path(achievement), remote: true %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
